<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <title>Angular Tutorial</title>
    <meta charset="utf-8" />
    <script src="/node_modules/angular/angular.js"></script>

    <script type="text/javascript">
        document.write('<scr' + 'ipt src="scripts/app_customservice.js?' + Math.random() + '" type="text/javascript"></scr' + 'ipt>');
    </script>
    <script src="scripts/stringService.js"></script>
</head>
<body>
    <div ng-controller="myController" class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Angular Custom Service Example</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>Your String</td>
                            <td><input type="text" ng-model="input" /></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Result
                            </td>
                            <td><input type="text" ng-model="output" /></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="button" ng-click="transformString(input)" value="Process String" /></td>
                        </tr>
                    </tbody>
                </table>



            </div>
        </div>
    </div>

    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

</body>
</html>
